
        <div class="container px-3 pt-3 pt-md-5 pb-md-4 text-center mx-auto">
            <h1 class="display-4">{{i18n "index.title"}}</h1>
            <p class="lead">{{i18n "index.subtitle"}}</p>
        </div>
        <div class="container">
            <div class="card w-100 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title"><a href="https://heritageflix-paintings.demo.netwerkdigitaalerfgoed.nl/">{{i18n "index.apps.paintingFlix.title"}}</a></h5>
                    <p class="card-text">{{i18n "index.apps.paintingFlix.description"}}</p>
                    <a href="https://heritageflix-paintings.demo.netwerkdigitaalerfgoed.nl/" class="btn btn-secondary">{{i18n "index.goToApp"}}</a>
                </div>
            </div>
            <div class="card w-100 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title"><a href="https://heritageflix-churches.demo.netwerkdigitaalerfgoed.nl/">{{i18n "index.apps.churchFlix.title"}}</a></h5>
                    <p class="card-text">{{i18n "index.apps.churchFlix.description"}}</p>
                    <a href="https://heritageflix-churches.demo.netwerkdigitaalerfgoed.nl/" class="btn btn-secondary">{{i18n "index.goToApp"}}</a>
                </div>
            </div>
            <div class="card w-100 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title"><a href="https://gvn.demo.netwerkdigitaalerfgoed.nl/">{{i18n "index.apps.gvnBrowser.title"}}</a></h5>
                    <p class="card-text">{{i18n "index.apps.gvnBrowser.description"}}</p>
                    <a href="https://gvn.demo.netwerkdigitaalerfgoed.nl/" class="btn btn-secondary">{{i18n "index.goToApp"}}</a>
                </div>
            </div>
            <div class="card w-100 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title"><a href="https://data.netwerkdigitaalerfgoed.nl/modemuze/-/stories/knowledge-graph">{{i18n "index.apps.modemuzeKg.title"}}</a></h5>
                    <p class="card-text">{{i18n "index.apps.modemuzeKg.description"}}</p>
                    <a href="https://data.netwerkdigitaalerfgoed.nl/modemuze/-/stories/knowledge-graph" class="btn btn-secondary">{{i18n "index.goToApp"}}</a>
                </div>
            </div>
            <div class="card w-100 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title"><a href="https://data.netwerkdigitaalerfgoed.nl/jboer/-/stories/Nationaal-Archief--Theaterencyclopedie">{{i18n "index.apps.DS-NA-Theater.title"}}</a></h5>
                    <p class="card-text">{{i18n "index.apps.DS-NA-Theater.description"}}</p>
                    <a href="https://data.netwerkdigitaalerfgoed.nl/jboer/-/stories/Nationaal-Archief--Theaterencyclopedie" class="btn btn-secondary">{{i18n "index.goToApp"}}</a>
                </div>
            </div>
            <div class="card w-100 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title"><a href="https://datastories.demo.netwerkdigitaalerfgoed.nl/">{{i18n "index.apps.dataStories.title"}}</a></h5>
                    <p class="card-text">{{i18n "index.apps.dataStories.description"}}</p>
                    <a href="https://datastories.demo.netwerkdigitaalerfgoed.nl/" class="btn btn-secondary">{{i18n "index.goToApp"}}</a>
                </div>
            </div>
        </div>
