
        <div class="container px-3 pt-3 pt-md-5 pb-md-4 text-center mx-auto">
            <h1 class="display-4">{{i18n "index.title"}}</h1>
            <p class="lead">{{i18n "index.subtitle"}}</p>
        </div>
        <div class="container">
            <div class="card w-100 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title"><a href="https://termennetwerk.netwerkdigitaalerfgoed.nl">{{i18n "index.apps.networkOfTerms.title"}}</a></h5>
                    <p class="card-text">{{i18n "index.apps.networkOfTerms.description"}}</p>
                    <a href="/termennetwerk/{{languageCode}}" class="btn btn-secondary">{{i18n "index.goToApp"}}</a>
                </div>
            </div>
            <div class="card w-100 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title"><a href="https://demo.netwerkdigitaalerfgoed.nl/register/">{{i18n "index.apps.register.title"}}</a></h5>
                    <p class="card-text">{{i18n "index.apps.register.description"}}</p>
                    <a href="/register/?{{languageCode}}" class="btn btn-secondary">{{i18n "index.goToApp"}}</a>
                </div>
            </div>
            <div class="card w-100 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title"><a href="/stories">{{i18n "index.apps.dataStories.title"}}</a></h5>
                    <p class="card-text">{{i18n "index.apps.dataStories.description"}}</p>
                    <a href="/stories" class="btn btn-secondary">{{i18n "index.goToApp"}}</a>
                </div>
            </div>
        </div>
